@import "../vars";

.categories {
  display: flex;
  padding: 1rem 0;
  overflow-X: scroll;
  width: 100%;
  position: relative;
}

.category {
  margin: 0 .5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 20px;
  background: #fff;
  cursor: pointer;
  transition: .1s ease-in;
  width: fit-content;
  
  &:hover {
    background: #f7f7f7;
  }

  &__icon {

  }

  &__name {
    font-size: 14px;
  }

  &_active {
    border: 2px solid $purple;
  }
}

@media screen and (max-width: 1050px){

}

@media screen and (max-width: 980px){

}